.home-contente-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.nav-bar {
  width: 100vw;
  background-color: #ffffff;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 115px;
  box-sizing: border-box;
}

.logo-nav-bar {
  height: 73px;
  width: auto;
}

.nav-bar-user-container {
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: #e4fde1;
}

.finance-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 48px 115px;
  box-sizing: border-box;
}

.finance-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 140px;
  border-radius: 24px;
  background-color: #ffffff;
  margin-right: 30px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 115px;
  box-sizing: border-box;
}

.table-content-container {
  display: flex;
  width: 97%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 24px;
  height: 592px;
  padding: 24px;
  box-sizing: border-box;
}

.table-content-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  box-sizing: border-box;
}

table {
  width: 100%;
}

th {
  text-align: left;
  color: #7c7c7c;
}

th.right {
  text-align: right;
}

th.center {
  text-align: center;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

td {
  color: #7c7c7c;
}

.modal-background {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(1, 4, 0, 0.2);
}

.modal-content {
  height: 100vh;
  width: 480px;
  background-color: #f4f4f9;
  padding: 24px;
  box-sizing: border-box;
}

.modal-content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-button {
  margin-top: 14px;
  background-color: #5936cd;
  height: 60px;
  width: 432px;
  border-radius: 12px;
  color: #f4f4f9;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #5936cd;
  cursor: pointer;
}
